<meta name="fb:pages" content="267512583406274">
<meta property="fb:pages" content="267512583406274" />



<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
      <script type="application/javascript">
          var options = {
              enableHighAccuracy: true,
              timeout: 5000,
              maximumAge: 0
          };

          function success(pos) {
              var crd = pos.coords;

              console.log('Your current position is:');
              console.log('Latitude : ' + crd.latitude);
              console.log('Longitude: ' + crd.longitude);
              console.log('More or less ' + crd.accuracy + ' meters.');
          } ;

          function error(err) {
              console.warn('ERROR(' + err.code + '): ' + err.message);
          };

          navigator.geolocation.getCurrentPosition(success, error, options);
      </script>
  </head>
  <body>
    {% block body %}

    <em>Important: Authentication via OAuth based providers will not work until you <a href="/admin/socialaccount/socialapp/">setup proper applicaton credentials</a>.</em>

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
	{% if user.is_authenticated %}
	<li><a href="{% url 'account_email' %}">Change E-mail</a></li>
	<li><a href="{% url 'account_logout' %}">Sign Out</a></li>
	{% else %}
	<li><a href="{% url 'account_login' %}">Sign In</a></li>
	<li><a href="{% url 'account_signup' %}">Sign Up</a></li>
	{% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>